<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">hy123</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bptrainer</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.default_catalog">bptrainer</property>
  <property name="hibernate.default_schema">bptrainer</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping resource="org/hyatt/model/Hero.hbm.xml"/>
  <mapping resource="org/hyatt/model/Item.hbm.xml"/>
  <mapping resource="org/hyatt/model/League.hbm.xml"/>
  <mapping class="org.hyatt.model.MatchObj"/>
  <mapping class="org.hyatt.model.Player"/>
 </session-factory>
 
</hibernate-configuration>
